@use './foundation/variables';
@use './foundation/mixins';

@use './pages/virtual-office';
@use './components/office/office-avatar';
@use './pages/register';
@use './pages/login';

@use './components/office/office-switcher';
@use './components/office/office-controls';

html {
    font-family:
        'Hiragino Sans',
        'Hiragino Kaku Gothic ProN',
        'Yu Gothic Medium',
        'Yu Gothic',
        'Meiryo',
        sans-serif;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body,
button,
input,
select,
textarea {
    font-family: inherit;
}